# Logs
output.xml
log.html
report.html
Py2Robot.spec

# files in cases_gen are created dynamically
cases_gen/

__pycache__/

bin/

.idea
.project
.pydevproject
.vscode
*.py[cod]


*.bak
*.log*
*.c
log/
build/
buildcpython/run.py
buildcpython/run/
